
/*-- index.html --*/

* {
    margin: 0;
  font-size: 20px;
  box-sizing: border-box;
}

section div.kvadratas1 {
  background-color: cadetblue;
  height: 300px;
  width: 19%;
  border: 10px solid saddlebrown;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

section div.kvadratas2 {
  background-color: cadetblue;
  border: 10px solid saddlebrown;
  height: 300px;
  width: 20%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

section div.kvadratas3 {
  background-color: cadetblue;
  border: 10px solid saddlebrown;
  height: 300px;
  width: 20%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

section div.kvadratas4 {
  background-color: cadetblue;
  border: 10px solid saddlebrown;
  height: 300px;
  width: 19%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

section div.kvadratas5 {
  background-color: cadetblue;
  border: 10px solid saddlebrown;
  height: 300px;
  width: 18%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.klase1 {
  color: #213448;
  border: 2px solid black;
  text-shadow: 3px 3px 5px #ECEFCA;
  background-color: #547792;
  letter-spacing: 7px;
  font-size: 50px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.mygtukas {
  background-color: #94B4C1;
  color: #213448;
  border: 2px solid black;
  border-radius: 17px;
  border-width: 5px;
  box-shadow: 3px 3px 15px white;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.name1 {
  color:#0C356A;
}

h5 {
  background-color: #ECEFCA;
  color:#213448;
  border: 2px solid black;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: left;
  letter-spacing: 1px;
  padding: 20px;
  margin: 10px;
}

nav {
  background-color: #547792;
  color: rgb(202, 78, 78);
  border: 2px solid black;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}


h2 {
  color: #213448;
  box-shadow: 3px 3px 13px #213448;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 10px; 
}

.klase2 {
  color: black;
  background-color: #547792;
  border: 2px solid black;
  font-size: 15px;
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 20px;
  margin: 10px; 
}




/*-- a.html --*/

.bg-a {
  background-color: #FFF0CE;
}

.nuotrauka 
img {
  display: block;
  margin: auto;
  width: 50%;
}

.bg-h1 {
  background-color: #0C356A;
  color: #FFF0CE;
  border: 2px solid black;
  font-size: 35px;
  text-shadow: 3px 3px 7px #ECEFCA;
  letter-spacing: 7px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 10px; 
}

.autoriai {
  background-color: #FFC436;
  color: #0C356A;
  border: 2px solid black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 20px;
  margin: 10px; 
}

.video-a 
video {
  display: block;
  margin: auto;
  width: 50%;
}

.tekstas-a {
  background-color: #0C356A;
  color: #FFF0CE;
  border: 2px solid black;
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 20px;
  margin: 10px; 
}

footer {
  background-color: #FFF0CE;
  color: #213448;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
  padding: 10px;
  margin: 5px; 

}