
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-- body --*/

header.box1 {
  display: inline-block;
  border: 1px solid red;
  background-color: rgb(200, 121, 224);
  height: 10vh;
  width: 99%;
  margin: 1px;
  padding: 1px;
}

main.box2 {
  display: inline-block;
  border: 1px solid red;
  background-color: rgb(164, 233, 167);
  height: 75vh;
  width: 99%;
  margin: 1px;
  padding: 1px;
}

footer.box3 {
  display: inline-block;
  border: 1px solid red;
  height: 10vh;
  width: 99%;
  margin: 2px;
}

/*-- header --*/

div.logo {
  display: inline-block;
  border: 1px solid red;
  height: 107px;
  width: 5%;
  margin: 1px;
}

div.menu {
  display: inline-block;
  border: 1px solid red;
  height: 107px;
  width: 5%;
  margin: 1px;
}

div.headeris {
  display: inline-block;
  border: 1px solid red;
  background-color: yellow;
  height: 107px;
  width: 88.5%;
  min-width: 30%;
  margin: 1px;


}

/*-- main--*/

div.movie1 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

div.movie2 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

div.movie3 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

div.movie4 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

div.movie5 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

div.movie6 {
  display: inline-block;
  border: 1px solid red;
  height: 100px;
  width: 100px;
  margin: 1px;
}

/*--footeris--*/


