$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;

$main-font: "Mulish", sans-serif;


// Reset

html {
  width: 1600px;
  height: 5870px;
  // top: -504px;
  // left: -637px;
  margin-left: auto;
  margin-right: auto;
  // overflow-x: hidden;
  background-color: $black;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $white;
  // width: auto; ?
}
//  img {
//   max-width: 100%;
//   height: auto;
//   vertical-align: middle;
//   background-repeat: no-repeat;
//   background-size: cover;
//   shape-margin: 0.75rem;
// }

// .navbar, .lowbar, .lowbar3, .lowbar4, .apacia7 {
//   width: 100%;
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
// }

// @media (max-width: $xl) {
//   .navbar, .lowbar, .lowbar3, .lowbar4, .apacia7 {
//     max-width: 100%;
//     padding: 0 20px;
//     flex-shrink: 1;
//     flex-grow: 0;
//   }
// }

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)


// Page 1 Top START

// @media (width <= 1250px) {
//   header {
//  display: flex;
//  flex-wrap: wrap;
//   }
// }


header {
  display: flex;
  justify-content: space-around;
  align-items: center; //?
  flex-wrap: wrap; //?
  
}

.virsus1 {
  display: flex;
  justify-content: space-around;
  
}

.navbar {
  width: 100%;
  display: flex;
  gap: 512px; // space between pries tai
}

.topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  
}

.logo {
  width: 160px;
  height: 41px;
  padding-left: 191px;
  padding-top: 56px;
  
}

.topnav ul {
  width: 545px;
  padding-top: 70px;
  padding-right: 192px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1F1534;
  
}

li:first-child {
  font-weight: 700;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

ul .li-1 {
  width: 51px;
  height: 23px;
}

ul .li-2 {
  width: 110px;
  opacity: 0.5;
}

ul .li-3 {
  width: 44px;
  opacity: 0.5;
}

ul .li-4 {
  width: 104px;
  opacity: 0.5;
}

ul .li-5 {
  width: 76px;
  opacity: 0.5;
}

// Page 1 Bottom START

.apacia1 {
  display: flex;
  justify-content: space-around;
  
}

.lowbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  position: relative;
  
}

.elementas1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 67px;
  left: 10px;
  height: 114.999px;
  width: 73.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
  
}

.elementas1 div {
  background: linear-gradient(338.5deg, #97C3F9 -623.68%, #93C1F9 820.38%);
  padding: 5px;
  border-radius: 30px;
}

// .elementas1 {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   align-content: center;
//   height: 115px;
//   width: 70px;
//   top: 40px;
//   left: 10.56px;
//   gap: 15px 17px;
//   margin: 0;
// }

// .elementas1 div {
//   height: 0px;
//   width: 0px;
//   background: $gray;
//   border-radius: 30px;
//   padding: 5px;
//   margin: 0;
// }

.header-text1 {
  width: 445px;
  height: 338px;
  padding-top: 186px;
  padding-left: 190px;
  border-radius: 55px;
  
}

.illustration1 {
  width: 693px;
  height: 598px;
  padding-top: 80px;
  padding-right: 163px;
  
 
}

.header-text1 h1 {
  // Consider changing Header to span or p for better semantic structure.
  width: 427px;
  height: 112px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  font-family: $main-font;
  padding-bottom: 25px;
}

.header-text1 p {
  width: 445px;
  height: 96px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  font-family: $main-font;
  color: $gray;
  padding-bottom: 48px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border: 0 none transparent;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  font-family: $main-font;
  letter-spacing: 0%;
  background-color: #458FF6;
  color: $white;
}
