div.tevas {
  width: 400px;
  height: 400px;
  position: relative;
  border: 3px solid orangered;
  cursor: pointer;
  margin: 50px;
}

div.vaikas {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 3px solid darkblue;
  right: -200px;
  bottom: -200px;
  cursor: pointer;
}

























