* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  perspective: 500px;
}

.side {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 500ms ease-in;
  
  position: absolute;
  top: 0;
  left: 0;

  backface-visibility: hidden;

  border-radius: 20px;
}

.front {
  background-color: tomato;
  transform: rotateY(0deg);
}

.back {
  background-color: royalblue;
  transform: rotateY(-180deg);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(-360deg);
}