$xl: 1100px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$gap: 20px;
$gap-min: 10px;
$gap-max: 40px;

$blue: #084C61;
$green: #56A3A6;
$yellow: #E3B505;
$red: #DB504A;
$gray: #4F6D7A;
$white: #FFFFFF;
$black: #000000;


$fancy-font: "Fascinate", system-ui;
$main-font: "Oswald", sans-serif;

$heder-height: 96px;
$burger-width: 60px;


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
}

a {
    text-decoration: none;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $fancy-font;
}

p {
    margin: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: $heder-height;
    display: flex;
    justify-content: center;
    background-color: $blue;
    position: relative;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $xl;
        padding: 0 $gap;

        &__left {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: $white;

            svg {
                width: 50px;
                height: 50px;
                fill: $white;

                path:nth-child(5) {
                    fill: $yellow;
                }
            }
        }

        &__right {
            color: $white;
            font-size: 14px;
        }

        &__center {
            nav ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: $gap;

                li a {
                    color: $yellow;
                    font-size: 22px;
                    font-weight: 400;
                    transition: all 0.3s ease;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    .burger {
        height: 10px;
        width: $burger-width;
        background-color: $white;
        margin: 13px 0;
        position: relative;
        cursor: pointer;
        transition: all 0.4s;
        display: none;

        &::before {
            content: '';
            display: block;
            height: 10px;
            width: $burger-width;
            position: absolute;
            bottom: 13px;
            background-color: $white;
            ;
            transition: all 0.4s;
        }

        &::after {
            content: '';
            display: block;
            height: 10px;
            width: $burger-width;
            position: absolute;
            top: 13px;
            background-color: $white;
            transition: all 0.4s;
        }
    }

    .mobile-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        background-color: $blue;
        width: 100%;
        left: 0;
        top: $heder-height;
        transform: translate(-100%, 0);
        transition: all 0.4s ease-in-out;

        ul {
            display: flex;
            flex-direction: column;
            padding: $gap-max;

        }
    }

    input {
        display: none;

        &:checked+.mobile-menu {
            transform: translate(0, 0);
        }
    }

    @media (max-width: $sm) {
        .desktop-menu {
            display: none;
        }

        .mobile-menu {
            display: block;
        }

        .menu__right {
            display: none;
        }

        .burger {
            display: block;
        }


    }

}

.hero {
    width: 100%;
    height: calc(100vh - #{$heder-height});
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.05);
        transform: scale(1);
        animation-name: fancy;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes fancy {
        0% {
            transform: scale(1);
            filter: brightness(0.05);
        }

        5% {
            filter: brightness(1);
        }

        95% {
            filter: brightness(1);
        }

        100% {
            transform: scale(1.7);
            filter: brightness(0.05);
        }
    }

    &__bin {
        position: absolute;
        display: flex;
        width: 100%;
        max-width: $xl;
        padding: 0 $gap;

        &__box {
            color: $white;
            width: 30%;

            h1 {
                font-size: 60px;
                margin-bottom: 30px;
                line-height: 1.2;
            }
        }
    }
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;

    &__bin {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: $xl;
        row-gap: $gap;
        padding: 0 $gap;

        &__box {
            width: 100%;
            max-width: calc(33.333% - 2 * $gap / 3);
            padding: $gap-max;
            border: 1px solid $gray;

            @media (max-width: $sm) {
                max-width: calc(50% - $gap / 2);
            }

            @media (max-width: $xs) {
                max-width: unset;
            }

        }
    }
}


.products {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &__bin {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: $xl;
        row-gap: $gap;
        padding: 0 $gap;

        &__box {
            width: 100%;
            max-width: calc(33.333% - 2 * $gap / 3);
            padding: $gap;
            border: 1px solid $gray;

            @media (max-width: $sm) {
                max-width: calc(50% - $gap / 2);
            }

            @media (max-width: $xs) {
                max-width: unset;
            }

            h2 {
                font-size: 20px;
                height: 60px;
                overflow: hidden;
                margin-bottom: $gap;
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: contain;
                margin-bottom: $gap-min;
            }

            &__actions {

                display: flex;
                column-gap: 5px;
                align-items: center;
                margin-top: 50px;
                flex-wrap: wrap;

                button {
                    background-color: $blue;
                    color: $white;
                    padding: 10px 20px;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    min-width: 130px;
                    font-size: 16px;
                    font-weight: 600;

                    &:hover {
                        background-color: $green;
                    }
                }

                input {
                    width: 50px;
                    height: 38px;
                    border: 3px solid $blue;
                    padding: 5px;
                    font-size: 16px;
                    text-align: center;
                    outline: none;
                }

                div {
                    font-size: 20px;
                }

                span {
                    padding-right: 20px;
                }
            }

        }
    }
}

.sort {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 20px;

    &__bin {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: $xl;
        row-gap: $gap;
        padding: 0 $gap;

        select {
            width: 200px;
            height: 40px;
            border: 1px solid $gray;
            padding: 5px;
            font-size: 16px;
            outline: none;
            margin-left: $gap;

            option {
                padding: 10px;
                font-size: 16px;
            }
        }
    }
}

.cart {
    position: relative;

    .count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $red;
        color: $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        span {
            position: relative;
            top: -1px;
        }
    }

    .icon {
        svg {
            width: 40px;
            height: 40px;
            fill: $white;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                fill: $green;
            }
        }
    }
}

.cart-content {
    position: absolute;
    background-color: $blue;
    width: 280px;
    right: -20px;
    padding-top: 10px;
    border: 1px solid $gray;

    &__empty {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px 10px 25px;
    }

    &__line {
        width: 100%;
        display: flex;
        column-gap: 7px;
        padding: 5px 10px;
        align-items: center;
    }

    &__img {
        width: 50px;
        height: 50px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-size: 12px;
        width: 100px;
        max-width: 100px;
        overflow: hidden;
    }

    &__price {
        font-size: 16px;
        width: 50px;
        max-width: 50px;
        overflow: hidden;
    }

    &__amount {
        font-size: 16px;
        width: 20px;
        max-width: 20px;
        overflow: hidden;
    }
    &__remove {
        position: relative;
        width: 20px;
        height: 20px;
        background-color: $red;
        border-radius: 50%;
        span {
            position: absolute;
            bottom: -2px;
            right: 6px;
            color: $white;
            font-size: 20px;
            font-weight: 600;
            user-select: none;
            cursor: pointer;
        }
    }
    &__total {
        width: 100%;
        border-top: 1px solid $white;
        margin-top: 10px;
        padding: 10px 0;
        display: flex;
        justify-content: flex-end;
        column-gap: 5px;
        .text {
            color: $white;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        .value {
            color: $yellow;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
    }
}