@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
}

.frame {
    position: relative;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}