@font-face {
    font-family: "Horror";
    src: url(./EightiesHorror.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: crimson;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    font-family: Horror;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
}

footer {
    text-align: center;
    padding: 3 rem;
}

/* TABLE  */

table {
    border-spacing: 0;
    margin: 0 20px;
}

th,
td {
    background-color: #333;
    color: #fff;
    border-top: 1px solid #555;
    border-right: 1px solid #111;
    border-bottom: 1px solid #111;
    border-left: 1px solid #555;
}

td {
    padding: 10px 15px;
}
td:nth-child(3) {
    text-align: right;
}
th {
    background-color: #222;
    padding: 5px;
}

tbody tr:nth-child(even) td {
    background-color: #561c1c;
}

thead{
    position: sticky;
}