

body {
    display: flex;
    position: relative;
    font-family: Mulish;
    margin: 0;
    height: 5870px;
    width: 1600px;
    background-color: rgba(128, 128, 128, 0.274);

}
.frame {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 720px;
}
.navbar {
   display: flex;
   justify-content: center;
   height: 20%;
   width: 100%;
   padding-top: 20px;
}
.navbar logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    margin: 10px;
    margin-left: 12%;
    gap: 10px;
    font-size: 24px;
    color: rgba(35, 51, 72, 1);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 34px;
    margin-bottom: 1px;
    padding: 2px;
    padding-bottom: 1px;
    background-color: rgba(26, 123, 235, 0.863);
    border-radius: 40px;
    font-weight: 700;
    color: white
}
.navbar logo p{
    font-weight: 700;
    color: rgb(5, 7, 8);
}
.navbar nav{
    display: flex;
    width: 50%;
    
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px;
    gap: 40px;
    padding: 0;
}
.nav li a{
    text-decoration: none;
    color: rgba(17, 16, 16, 0.904);
    font-weight: bold;
    font-size: 18px;
}
.nav li > a{
    font-weight: normal;
    color: rgba(63, 63, 63, 0.829);
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}
    
#head1{
    padding-left: 40px;
    width: 550px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

.slogan1{
    font-size: 48px;
    height: 112px;
    width: 427px;
    font-weight: bold;
    padding: 0;
}
.content1{
    font-size: 21px;
    height: 96px;
    width: 448px;
    color: rgba(125, 121, 135, 1);
    padding-left: 0px;
    padding-top: 19px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(69, 143, 246, 1);
    height: 56px;
    width: 200px;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-top: 15px;
    cursor: pointer;
}
.head div img{
    height: 598px;
    width: 693px;

}
.element{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 115px;
    width: 70px;
    top: 40px;
    left: 0px;
    gap: 15px 17px;
    margin: 0;
}
.element div{
    height: 0px;
    width: 0px;
    background-color: rgba(26, 124, 235, 0.178);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
.our-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: relative;
    row-gap: 50px;
}
.text{
    color: rgba(125, 121, 135, 1);
;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 952px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    z-index: 3;

}
.slogan2{
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    letter-spacing: 0%;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 1);
}
.text div{
    width: 56px;
    height: 0px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    margin: 15px;
}
#backimg1 {
    position: absolute;
    left: 0;
    top: 265px;
    z-index: 1;
}
.element2{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    top: 593px;
    left: 1277px;
    height: 115px;
    width: 131.58px;
    gap: 16px 19px;
    margin: 0;
}
.element2 div{
    height: 0px;
    width: 0px;
    background: linear-gradient(338.5deg, rgba(29, 125, 236, 0.178),rgba(26, 124, 235, 0.178));
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    row-gap: 31px;
    width: 1120px;
    z-index: 4;
    margin-top: 30px;

}
.services div{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: space-around;
    position: relative;
    cursor: pointer;
    width: 290px;
    height: 270px;
    box-shadow: 0 10px 40px 0 rgba(229, 233, 246, 0.596);
    border-radius: 20px;
    z-index: 5;
    padding: 30px;
    padding-top: 50px;
    row-gap: 25px;
    
    
}
.services div span{
    color: rgb(125, 121, 135);
    font-size: 16px;
    line-height: 28px;

}
.services div span p + p{
    width: 261px;
    height: 84px;
    margin: 0;
}
#service1{
    width: 266px;
}
#service6{
    width: 266px;
}
.service div img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 90px;
}
.slogan3{
    margin: 0;
    height: 56px;
    top: 1390.41px;
    left: 279px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0%;
    color: black;

}
.learn{
    background-color: transparent;
    border: 1.4px solid rgba(69, 143, 246, 1);
    color: rgba(69, 143, 246, 1);
    font-weight: bold;
}
.app-providers{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;

}
.providers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 110px;
}
.text2{
    font-size: 18px;
    color: rgb(125, 121, 135);
    font-weight: 300;
}
.providers div{
    justify-content: center;
    width: 380px;
    padding-right: 160px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

}
.providers div div{
    width: 56px;
    height: 0;
    border-radius: 5px;
    border-bottom: 2px solid black;
    margin: 25px;
    margin-left: 0;
    padding: 0;
}
.apps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 110px;
    margin-top: 220px;
}
.apps div{
    justify-content: center;
    width: 380px;
    padding-left: 120px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;

}
.apps div div{
    width: 56px;
    height: 0;
    border-radius: 5px;
    border-bottom: 2px solid black;
    margin: 25px;
    margin-left: 0;
    padding: 0;
}
.learn img{
    position: relative;
    top: 2px;
    right: -7px;
}
.element3{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 115px;
    width: 70px;
    top: 450px;
    left: 1514px;
    gap: 15px 17px;
    margin: 0;
}
.element3 div{
    height: 0px;
    width: 0px;
    background-color: rgba(26, 124, 235, 0.178);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
.apps div .slogan2{
    width: 254px;
    margin-top: 0;
}
.feedback{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 240px;
}
.feedback-box{
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    z-index: 5;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);

}
.fbox-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 30px;
}
.feedback-box div .slogan2{
    color: white;
}
.line{
    width: 56px;
    height: 0;
    border-radius: 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 13px;
    padding: 0;
}
.fbox-bot{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    column-gap: 60px;
    margin-top: 0px;
}
.fbox-bot img + div p{
    color: white;
    flex-direction: column;
    margin: 0%;
}
.fbox-bot div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    padding-bottom: 60px;
}
.fbox-bot .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    color: white;
    width: 380px;
    height: 120px;
}
#names{
    flex-direction: column;
    align-items: flex-start;
    line-height: 29px;
    margin-left: 29px;
    font-size: 22px;
    padding-bottom: 15px;
}
#names p + p{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.795);
}
.feedback-nav{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.feedback-nav div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 115px;
    width: 100px;
    top: 450px;
    left: 1514px;
    gap: 15px 17px;
    margin: 0;
}
.feedback-nav div div{
    height: 0px;
    width: 0px;
    background-color: rgba(26, 124, 235, 0.815);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
.feedback-nav div + div{
    background-color: rgba(26, 124, 235, 0.295);
}

.btn2{
    background-color: rgba(255, 255, 255, 0.808);
    border: 0;
    opacity: 0.4;
}
.btn2:hover{
    opacity: 1;
    cursor: pointer;
}
.feedback element{
    width: 70px;
    position: absolute;
    top: -2px;
    left: 1041px;
    z-index: 10;
}
.feedback element + element{
    top: 279px;
    left: -55px;
    width: 50px;

}
.feedback element div{
    height: 0px;
    width: 0px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 30px;
    padding: 5px;
    margin: 0;
}
.articles{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.line2{
    width: 56px;
    height: 0;
    border-radius: 5px;
    border-bottom: 2px solid rgb(8, 8, 8);
    margin: 13px;
    padding: 1;
}
.article{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1132px;
    height: 512px;
}
.article > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    row-gap: 0;
    width: 350px;
    height: 512px;
    padding: 0;
    border-radius: 20px;
    box-shadow: 10px 40px 30px rgba(229, 233, 246, 0.4);
}
.article > div > img{
    width: 350px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.article > div div{
    height: 210px;
    width: 285px;
    padding: 27px;
    padding-top: 20px;
    row-gap: 10px;
    line-height: 28px;
    box-shadow: none;
    align-content: flex-start;
}
.article > div > div p{
    font-size: 21px;
    width: 270px;
    line-height: 32px;
}
.article > div p + p{
    text-align: left;
    font-size: 16px;
    width: 262px;
    color: rgba(125, 121, 135, 1);
    line-height: 28px;
}
.article > div button{
    color: rgba(64, 137, 237, 1);
    background-color: transparent;
    border: 0;
    text-align: left;
    padding: 0;
    font-size: 17px;
    cursor: pointer;
}
.article > div button img{
    padding-left: 10px;
}
.articles > .learn{
    width: 200px;
    margin-top: 40px;
}
.articles .element2{
    left: 194px;
    top: 2203px;
}
.articles element img{
    position: absolute;
    right: 0;
    top: 2180px;
}
footer{
    gap: 20px;
    display: flex;
    margin-top: 220px;
    width: 100%;
    height: 499px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}
footer > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 120px;
    padding-top: 0;
    padding-bottom: 0;
}
footer > div > div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.f-left{
    width: 378px;
    align-items: flex-start;
    color: white;
    padding: 75px;
}
.f-left > p{
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0;
}
.f-left > p + p{
    font-size: 16px;
}
.f-left div{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-size: 24px;
}
.f-left div > p{
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 27px;
}
.f-left .logo{
    margin-top: 20px;
    background-color: white;
    color: rgb(95, 157, 250);
    font-size: 26px;
    height: 41px;
    width: 41px;
    

}
.f-right{
    color: white;
    height: 214px;
    width: 820px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 60px;
    
}
.f-right p{
    margin: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;

}
.f-right p + p{
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
}
footer .element2{
    left: 1380px;
    top: 5299px;
}
footer .element2 + element{
    top: 5790px;
    left: 8px;
    width: 100px;
}
footer .element2 + element div{
    background-color: rgb(160, 196, 250);
}
















