* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tekstas2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
width: 212px;
height: 56px;
// top: 967px;
// left: 695px;
font-family: Mulish, sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 56px;
letter-spacing: 0%;
}

p {
width: 952px;
height: 60px;
// top: 1084px;
// left: 323px;
font-family: Mulish, sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;

}




















