body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: "Mulish", sans-serif;
}

/* BOX 1 */

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  margin-left: 191px;
  margin-top: 56px;
  margin: 62px 0 0 244px;
  height: 41px;
  width: 160px;
}

.box1 {
  width: 545px;
  height: 23px;
  font-size: 18px;
  font-weight: 400;
  Opacity: 50%;
  display: flex;
  justify-content: space-between;
  margin: 70px 192px 84px 512px;
}

.tekstas1-1 {
  width: 445px;
  height: 338px;
  margin: 191px 109px 0px 190px;
}

.nuotrauka1-1 {
  width: 693px;
  height: 598px;
  margin: 84px 163px 0 109px;
}

.box1-1 {
  display: flex;
  justify-content: space-between;
}

.header1-1 {
  font-size: 48px;
  color: #000000;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
}

.tekstas1-1 p {
  font-size: 21px;
  color: #7D7987;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0%;
}

.butonas1-1 {
  height: 56px;
  padding: 0;
  border: 0;
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  border-radius: 55px;
  background-color: #458FF6;
  color: white;
}

nav ul {
  display: flex;
}

nav ul li a {
  display: flex;
  word-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  color: #1F1534;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
}

nav ul li {
  list-style: none;
}

/* BOX 2 */

.dezute2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 952px;
  height: 177px;
  margin: 192px 325px 80px 323px;
  top: 967px;
  left: 323px;
  border-radius: 5px;
}

.dezute2 h1 {
  width: 212px;
  height: 56px;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
}

.dezute.bruksnis1 {
width: 56;
height: 2;
top: 1049px;
left: 772px;
color: #000000;
border-radius: 5px;
}

.dezute2 p {
width: 952;
height: 60;
top: 1084px;
left: 323px;
color: #7D7987;
font-family: Mulish;
font-weight: 300;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}

.dezute2-1 {
width: 350;
height: 354;
top: 1224px;
left: 240px;
border-radius: 20px;
}





















































