body {
  background-color: black;
  color: white;
  margin: 0;
  font-size: 0;
}

.kvadratas {
  background-color: cadetblue;
  height: 200px;
  width: 33.3333%;
  min-width: 300px;
  max-width: 400px;
  padding: 50px;
  font-size: 40px;
  border: 10px dashed saddlebrown;
  box-sizing: border-box;
  display: inline-block;
}

.bin {
  width: 100%;
  text-align: center;
}
