body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: "Mulish", sans-serif;
}

header {
  Width: 1487px;
Height: 719px;
margin-top: 56px;
margin-left: -50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  margin: 62px 0 0 244px;
  height: 41px;
  width: 160px;
}

.dezute.vienas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 545px;
  margin: 192px 70px 0 0;
   
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
    color: gray;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tekstas {
  width: 445px;
  margin-left: 190px;
  margin-top: 191px;
  height: 338px;
}

.nuotrauka {
margin-right: 163px;
margin-top: 84px;
}

.butonas {
  background-color: #458FF6;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  height: 56px;
  width: 200px;
}
