@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: "Mulish", sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.logo {
  display: flex;
  background-size: cover;
  margin-left: 191px;
  margin-top: 56px;
  height: 41px;
  width: 160px;
}

.dezute.vienas {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 545px;
  margin-right: 70px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
    color: gray;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tekstas {
  width: 445px;
  margin-left: 190px;
  margin-top: 283px;
  height: 338px;
}

.nuotrauka {
margin-right: 163px;
margin-top: 192px;
}

.butonas {
  background-color: #458FF6;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  height: 56px;
  width: 200px;
}
