* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #fff;
}

body {
  background-color: #fff;
  color: #111;
  max-width: 1240px;
  max-height: 1754px;
  margin: 5px;
  align-self: center;
}

.container>* {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #fff;
  background-color: #cecace;

}

/* GRID */

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); //fr = fraction, uzpildo likusia laisva vieta, Funkcija
  grid-template-rows: repeat(22, 45px);
  // grid-template-rows: 100px repeat(14, 100px) 150px; // pabaigoje, kai matai kiek yra viduje
  // first row 100;  14 rows 300; last 150
  margin: 1px;

  grid-template-areas: // kur kas turi stoveti
    "s1 s1 s1 s2 s2 s2 s2"
    "s1 s1 s1 s2 s2 s2 s2"
    "s3 s3 s3 s4 s4 s4 s4"
    "s3 s3 s3 s4 s4 s4 s4"
    "s3 s3 s3 s4 s4 s4 s4"
    "s5 s5 s5 s6 s7 s8 s9"
    "s10 s10 s10 s11 s12 s13 s14"
    "s15 s15 s15 s16 s17 s18 s19"
    "s20 s20 s20 s21 s22 s23 s24"
    "s25 s25 s25 s26 s27 s28 s29"
    "s30 s30 s30 s31 s32 s33 s34"
    "s35 s35 s35 s36 s37 s38 s39"
    "s40 s40 s40 s41 s42 s43 s44"
    "s45 s45 s45 s46 s46 s46 s47"
    "s45 s45 s45 s48 s48 s48 s49"
    "s50 s50 s50 s51 s51 s51 s52"
    "s50 s50 s50 s51 s51 s51 s52"
    "s53 s53 s53 s54 s54 s54 s54"
    "s53 s53 s53 s54 s54 s54 s54"
    "s53 s53 s53 s54 s54 s54 s54"
    "s55 s55 s55 s56 s56 s56 s56"
    "s55 s55 s55 s56 s56 s56 s56"
}

.sec-1 {
  grid-area: s1;
  font-weight: 700;
  color: #2d2f3a;
  font-size: 23px;

}

.sec-2 {
  grid-area: s2;
  display: block;
  padding: 15px;
  background-color: #2d2f3a;
  color: #acaeb7;
}

.sec-3 {
  grid-area: s3;
  color: #2d2f3a;
  font-size: 23px;
}

.sec-4 {
  grid-area: s4;
  background-color: #2d2f3a;
  color: #acaeb7;
  font-size: 23px;
}

.sec-5 {
  grid-area: s5;
  background-color: #c9242c;
  color: #acaeb7;
}

.sec-6 {
  grid-area: s6;
  background-color: #2d2f3a;
  color: #acaeb7;
}

.sec-7 {
  grid-area: s7;
  background-color: #2d2f3a;
  color: #acaeb7;
}

.sec-8 {
  grid-area: s8;
  background-color: #2d2f3a;
  color: #acaeb7;
}

.sec-9 {
  grid-area: s9;
  background-color: #2d2f3a;
  color: #acaeb7;
}

.sec-10 {
  grid-area: s10;
}

.sec-11 {
  grid-area: s11;
  background-color: #cecace;
}

.sec-12 {
  grid-area: s12;
  background-color: #cecace;
}

.sec-13 {
  grid-area: s13;
  background-color: #cecace;
}

.sec-14 {
  grid-area: s14;
  background-color: #cecace;
}

.sec-15 {
  grid-area: s15;
}

.sec-16 {
  grid-area: s16;
  background-color: #cecace;
}

.sec-17 {
  grid-area: s17;
  background-color: #cecace;
}

.sec-18 {
  grid-area: s18;
  background-color: #cecace;
}

.sec-19 {
  grid-area: s19;
  background-color: #cecace;
}

.sec-20 {
  grid-area: s20;
}

.sec-21 {
  grid-area: s21;
  background-color: #cecace;
}

.sec-22 {
  grid-area: s22;
  background-color: #cecace;
}

.sec-23 {
  grid-area: s23;
  background-color: #cecace;
}

.sec-24 {
  grid-area: s24;
  background-color: #cecace;
}

.sec-25 {
  grid-area: s25;
}

.sec-26 {
  grid-area: s26;
  background-color: #cecace;
}

.sec-27 {
  grid-area: s27;
  background-color: #cecace;
}

.sec-28 {
  grid-area: s28;
  background-color: #cecace;
}

.sec-29 {
  grid-area: s29;
  background-color: #cecace;
}

.sec-30 {
  grid-area: s30;
}

.sec-31 {
  grid-area: s31;
  background-color: #cecace;
}

.sec-32 {
  grid-area: s32;
  background-color: #cecace;
}

.sec-33 {
  grid-area: s33;
  background-color: #cecace;
}

.sec-34 {
  grid-area: s34;
  background-color: #cecace;
}

.sec-35 {
  grid-area: s35;
}

.sec-36 {
  grid-area: s36;
  background-color: #cecace;
}

.sec-37 {
  grid-area: s37;
  background-color: #cecace;
}

.sec-38 {
  grid-area: s38;
  background-color: #cecace;
}

.sec-39 {
  grid-area: s39;
  background-color: #cecace;
}

.sec-40 {
  grid-area: s40;
}

.sec-41 {
  grid-area: s41;
  background-color: #cecace;
}

.sec-42 {
  grid-area: s42;
  background-color: #cecace;
}

.sec-43 {
  grid-area: s43;
  background-color: #cecace;
}

.sec-44 {
  grid-area: s44;
  background-color: #cecace;
}

.sec-45 {
  grid-area: s45;
  border: 0 transparent;
  background-color: #fff;
}

.sec-46 {
  grid-area: s46;
  background-color: #cecace;
  color: #2d2f3a;
  font-weight: 700;
}

.sec-47 {
  grid-area: s47;
  background-color: #cecace;
  color: #2d2f3a;
  font-weight: 700;
}

.sec-48 {
  grid-area: s48;
  background-color: #cecace;
  color: #2d2f3a;
  font-weight: 700;
}

.sec-49 {
  grid-area: s49;
  background-color: #cecace;
  color: #2d2f3a;
  font-weight: 700;
}

.sec-50 {
  grid-area: s50;
  border: 0 transparent;
  background-color: #fff;
}

.sec-51 {
  grid-area: s51;
  background-color: #c9242c;
  color: #acaeb7;
  font-size: 23px;
}

.sec-52 {
  grid-area: s52;
  background-color: #c9242c;
  color: #fff;
  font-size: 23px;
}

.sec-53 {
  grid-area: s53;
  background-color: #fff;
  border: 0 transparent;
}

.sec-54 {
  grid-area: s54;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0 transparent;
}

.sec-54 span {
  font-size: large;
  font-weight: 700;
  color: #2d2f3a;
  margin-right: 20px;
}

.sec-54 span+span {
  font-size: large;
  font-weight: 400;
  color: #2d2f3a;
  text-decoration: underline;
  // font-style: italic;
}

.sec-55 {
  grid-area: s55;
  color: #2d2f3a;
  font-weight: 700;
  background-color: #cecace;
  ;
}

.sec-55 img {
  grid-area: s55;
  color: #2d2f3a;
  font-weight: 700;
  background-color: #cecace;
  ;
}

.Beaver {
  max-height: 100%;
  min-width: 100%;
  color: #2d2f3a;
  background-color: #cecace;
  ;
}


.sec-56 {
  grid-area: s56;
  background-color: #2d2f3a;
  color: #acaeb7;
  font-weight: 700;
}