* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    padding: 15px;
    display: flex;
    /* justify-content: space-between; */
}

ul {
    display: flex;
    list-style: none;
}

.logo {
    margin-right: auto;
}