$xl: 1300px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$gap: 20px;
$gap-min: 10px;
$gap-max: 40px;

$blue: #084C61;
$green: #56A3A6;
$yellow: #E3B505;
$red: #DB504A;
$gray: #4F6D7A;
$white: #FFFFFF;
$black: #000000;

$fancy-font: "Fascinate", system-ui;
$main-font: "Oswald", sans-serif;

$header-height: 96px;

// Bendriniai

* {
  box-sizing: border-box;
}

// Reset

html,
body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
  color: $black;
}

a {
  text-decoration: none;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $fancy-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

header {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  background-color: $blue;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $xl;
    padding: 0 $gap;

    &__left {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      svg {
        width: 50px;
        height: 50px;
        fill: $white;

        path:nth-child(5) {
          fill: $yellow;
        }
      }
    }

    &__right {
      color: $white;
      font-size: 12px;
    }

    &__center {
      nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap;

        li a {
          color: $yellow;
          font-size: 22px;
          font-weight: 400;

          &:hover {
            color: $white;
          }
        }
      }

    }
  }
}

section.hero {
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: flex;
    justify-content: center;
    align-items: center;
}