* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; //stulpeliu
}

/* DIGITAL ONE */

.clock-digital {
  text-align: center;
}

.date {
  font-family: sans-serif;
  font-size: 3rem;
}

.time {
  font-family: monospace;
  font-size: 6rem;
}


/* ANALOGUE ONE */

.clock-analogue {
  background-color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  position: relative;
}

.arr {
  position: absolute;
  border-radius: 0 0 3px 3px;
  transform-origin: bottom;
}

.hours {
  background-color: seagreen;
  width: 6px;
  height: 65px;
  top: calc(50% - 65px);
  left: calc(50% - 3px);
}

.minutes {
  background-color: royalblue;
  width: 4px;
  height: 75px;
  top: calc(50% - 75px);
  left: calc(50% - 2px);
}

.seconds {
  background-color: tomato;
  width: 2px;
  height: 85px;
  top: calc(50% - 85px);
  left: calc(50% - 1px);
}








