.senelis div div div {
  color: yellow;
}

.pirmas {
    color: #74df0c;
    font-size: 30px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.antras {
    color: #74df0c;
    font-size: 30px;
    font-weight: 400;
    font-family: "Slabo 27px", serif;
}

body .senelis div.tevas div div {
  color: rgb(144, 12, 196);
}

body .senelis div div div {
  color: rgb(238, 137, 130);
}

.rudas {
    color: black;
}

.rudas {
    color: brown;
}

a span {
  color:#74df0c
}

span {
  color: crimson;
}

.senelis {
  color: crimson;;
}

.senelis div {
  color: green;;
}

.senelis div div {
  color: skyblue;
}

div p {
  color:red
}

p {
  color: blue;
}

u {
 text-decoration: none;
}

i {
  font-style: normal;
}

* {
  color: red;
}