body{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 background-color: #EBE5C2;
 height: 100vh;
}

nav{
 background-color: #F8F3D9;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 3% 3% 0% 3%;
 border-radius: 15px 15px 0px 0px;
}


.logo{
 display: flex;
 justify-content: flex-start;
 margin: 10px;
 align-items: center;
}

.navbar ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.navbar ul li a{
  list-style: none;
  text-decoration: none;
  color: black;
}

.icons ol{
 display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin-right: 10px;
}





















































