body {
  background-color: gray;
  margin: 50px;
}

section {
display: flex;
border: 3px solid white;
justify-content: center;
align-items: flex-start;
column-gap: 10px;
flex-wrap: wrap;
row-gap: 40px;
flex-direction: column;
position: relative;

}

section div {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #ff450070;
  border: 3px solid #ff4500;
  color: black;
  font-size: 40px;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

section div.big {
  width: 300px;
  height: auto;
  left: 100px;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
}

.test-hover {
  width: 200px;
  height: 200px;
  background-color: #ff450075;
  border: 3px solid #ff4500;
   transition: left 0.7s  cubic-bezier(.32,.92,.28,-1.38), background-color 2s;
   position: relative;
   left: 0;
  
}

.test-hover:hover {
  background-color: #ff4500;
 left: 150px;
}

p {
  font-size: 50px;
  width: 100px;
  padding-bottom: 30px;
  border: 1px solid black;
  text-align: center;
}

.test-first-class p:first-child {
  color: skyblue;

}

.test-first-class p:last-child {
  color: crimson;
  border-bottom: none;

}

