$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;

}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START

.puslapis6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apacia6 {
  display: flex;
  justify-content: space-around;
}

.lowbar6 {
  display: flex;

}

.box6-1 {
  margin-left: 240px;
}

.imagebox6-1 {
  width: 369px;
  height: 246px;
  // top: 4593px;
  // left: 240px;
}

.imagebox6-2 {
  width: 409px;
  height: 272px;
  // top: 4589px;
  // left: 605px;
}

.imagebox6-3 {
  width: 367px;
  height: 245px;
  // top: 4591px;
  // left: 995px;
  margin-left: -25px;
  margin-bottom: 24px;
}

.box6-1 span {
  display: block;
  width: 251px;
  height: 64px;
  // top: 4860px;
  // left: 273px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin: 21px 66px 12px 33px;
}

.box6-1 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 273px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 21px 66px 12px 33px;
}

.box6-2 span {
  display: block;
  width: 265px;
  height: 64px;
  // top: 4860px;
  // left: 657px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin: -5px 52px 12px 33px;
}

.box6-2 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 657px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 12px 51px 25px 33px;
}

.box6-3 {
  margin-right: 238px;
}

.box6-3 span {
  display: block;
  width: 245px;
  height: 64px;
  // top: 4860px;
  // left: 1042px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin-top: 10px;
}

.box6-3 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 1042px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin-bottom: 33px;
  //margin bottom LEMPINIS!!!!!!!
}


.header-text6 {
  width: 462px;
  height: 84px;
  // top: 4433px;
  // left: 569px;
  border-radius: 5px;
  margin: 222px 569px 72px 569px;
}

.header-text6 span {
  width: 462px;
  height: 56px;
  // top: 4433px;
  // left: 569px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
}

.Rectangle18 {
  width: 56px;
  height: 2px;
  // top: 4515px;
  // left: 772px;
  border-radius: 5px;
  color: $black;
  margin-top: 26px;
  margin-left: 210px;
}

.button6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  border: 1.4px solid $blue;
  margin: 72px 700px 201px 700px;
}

.lowbar6 a {
  width: 266px;
  height: 28px;
  // top: 5045px;
  // left: 273px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $blue;
  margin-left: 33px;
}

.box6-3 a {
  margin-left: 0;
}