* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

header {
    padding: 15px;
}

.logo,
nav,
ul {
    display: inline;
}

li {
    display: inline;
}

nav {
    float: right;
}

/* Main */

.half {
    padding: 30px;
    float: left;
    width: 50%;
    height: 300px;

    /* text-align: center;
    line-height: 240px; */
}

.section-1 {
    overflow: auto;
}

.third {
    padding: 30px;
    float: left;
    width: 33.33%;
    height: 300px;
}

.section-2 {
    overflow: auto;
}

/* Footer */

footer {
    padding: 15px;
}

/* kur float dar naudingas yra */

.img img{
    float: left;
    margin-right: 8px;

}




