$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Reset

html {
  width: 1600px;
  height: 5870px;
  top: -504px;
  left: -637px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  background-color: $black;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)


// Page 1 Top START


header {
  display: flex;
  justify-content: space-around;
}

.virsus1 {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.logo {
  width: 160px;
  height: 41px;
  margin-left: 191px;
  margin-top: 56px;
}

.topnav ul {
  width: 545px;
  margin-top: 70px;
  margin-right: 192px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1F1534;
}

li:first-child {
  font-weight: 700;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul .li-1 {
  width: 51px;
  height: 23px;
}

ul .li-2 {
  width: 110px;
  opacity: 0.5;
}

ul .li-3 {
  width: 44px;
  opacity: 0.5;
}

ul .li-4 {
  width: 104px;
  opacity: 0.5;
}

ul .li-5 {
  width: 76px;
  opacity: 0.5;
}

// Page 1 Bottom START

.apacia1 {
  display: flex;
  justify-content: space-around;
}

.lowbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.elementas1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 67px;
  left: 10px;
  height: 114.999px;
  width: 73.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas1 div {
  background: linear-gradient(338.5deg, #97C3F9 -623.68%, #93C1F9 820.38%);
  padding: 5px;
  border-radius: 30px;
}

// .elementas1 {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   align-content: center;
//   height: 115px;
//   width: 70px;
//   top: 40px;
//   left: 10.56px;
//   gap: 15px 17px;
//   margin: 0;
// }

// .elementas1 div {
//   height: 0px;
//   width: 0px;
//   background: $gray;
//   border-radius: 30px;
//   padding: 5px;
//   margin: 0;
// }

.header-text1 {
  width: 445px;
  height: 338px;
  margin-top: 186px;
  margin-left: 190px;
  border-radius: 55px;
}

.illustration1 {
  width: 693px;
  height: 598px;
  margin-top: 80px;
  padding-right: 163px;
  // Adjusted margin-top by 4px for better alignment
}

.header-text1 h1 {
  // Consider changing Header to span or p for better semantic structure.
  width: 427px;
  height: 112px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  font-family: $main-font;
  margin-bottom: 25px;
}

.header-text1 p {
  width: 445px;
  height: 96px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  font-family: $main-font;
  color: $gray;
  margin-bottom: 48px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border: 0 none transparent;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  font-family: $main-font;
  letter-spacing: 0%;
  background-color: #458FF6;
  color: $white;
}


// Page 2


.virsus2 {
  display: flex;
  justify-content: space-around;
}

.virsus2-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 192px 0 80px 0;
}


.headeris2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 212px;
  height: 56px;
  // top: 967px;
  // left: 695px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  color: $black;

}

.Rectangle2 {
  width: 56px;
  height: 2px;
  // top: 1049px;
  // left: 772px;
  border-radius: 5px;
  margin: 26px 0 33px 0;
}

.virsus2-1 p {
  width: 952px;
  height: 60px;
  // top: 1084px;
  // left: 323px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: $gray;
}

.apacia2 {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.vectorius1 {
  position: absolute;
  left: 260px;
  top: -43px;
  background-color: (#F3F7FF -10.48%, #DEEEFE 92.66%);
}

// .elementas2 {
//   position: absolute;
//   margin-right: -980px;
//   margin-top: 310px;
// }

.elementas2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 286.95px;
  right: 190.42px;
  height: 114.999px;
  width: 131.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas2 div {
  background: linear-gradient(338.5deg, #97C3F9 -623.68%, #93C1F9 820.38%);
  padding: 5px;
  border-radius: 30px;
}

.apacia2-1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1140px;
  height: 765px;
  // top: 1224px;
  // left: 240px;
}

.box2-1 {
  width: 350px;
  height: 354px;
  margin: 0 34px 37px 0;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;

}

.box2-2 {
  width: 350px;
  height: 354px;
  margin: 0 36px 37px 0;
  //   top: 1224px;
  // left: 240px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;
}

.box2-3 {
  width: 350px;
  height: 354px;
  margin-bottom: 37px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;
}

.box2-4 {
  width: 350px;
  height: 354px;
  margin-right: 34px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;
}

.box2-5 {
  width: 350px;
  height: 354px;
  margin-right: 36px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;
}

.box2-6 {
  width: 350px;
  height: 354px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
  background-color: $white;
}

.frame2-1 {
  width: 91.98px;
  height: 90.01px;
  margin: 54px 221.02px 22.4px 37px;
}

.frame2-2 {
  width: 61.86px;
  height: 85px;
  margin: 62px 251.14px 19.41px 37px;
}

.frame2-3 {
  width: 67.3px;
  height: 95.01px;
  margin: 47px 244.7px 24.4px 38px;
}

.frame2-4 {
  width: 67.08px;
  height: 95px;
  margin: 46px 243.29px 25.4px 39.64px;
}

.frame2-5 {
  width: 80px;
  height: 71.15px;
  margin: 59px 230px 36.25px 40px;
}

.frame2-6 {
  width: 69.42px;
  height: 95px;
  margin: 52px 242.58px 19.39px 38px;
}

.box2-1 span {
  display: flex;
  width: 160px;
  height: 56px;
  // top: 1390.41px;
  // left: 279px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0px 191px 1px 39px;
}

.box2-1 p {
  width: 266px;
  height: 84px;
  // top: 1447.41px;
  // left: 279px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 45px 46.59px 39px;
}

.box2-2 span {
  width: 196px;
  height: 56px;
  // top: 1390.41px;
  // left: 660.36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0 117.64px 0.59px 36.76px;
}

.box2-2 p {
  width: 261px;
  height: 84px;
  // top: 1447px;
  // left: 661px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 52px 47px 37px;
}

.box2-3 span {
  width: 146px;
  height: 56px;
  // top: 1390.41px;
  // left: 1048.36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0px 165.64px 0.59px 38.36px;
}

.box2-3 p {
  width: 261px;
  height: 84px;
  // top: 1447px;
  // left: 1049px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 50px 47px 39px;
}

.box2-4 span {
  width: 130px;
  height: 56px;
  // top: 1781.41px;
  // left: 278px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0 182px 0.59px 38px;
}

.box2-4 p {
  width: 261px;
  height: 84px;
  // top: 1838px;
  // left: 278.64px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 50.36px 47px 38.64px;
}

.box2-5 span {
  width: 182px;
  height: 56px;
  // top: 1781.41px;
  // left: 662px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0 130px 1px 38px;
}

.box2-5 p {
  width: 266px;
  height: 84px;
  // top: 1838.41px;
  // left: 663px;;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 45px 46.59px 39px;
}

.box2-6 span {
  width: 98px;
  height: 56px;
  // top: 1781.41px;
  // left: 1048.36px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0 213.64px 0.59px 38.36px;
}

.box2-6 p {
  width: 261px;
  height: 56px;
  // top: 1838px;
  // left: 1049px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 50px 75px 39px;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  border-width: 1.4px;
  border: 1.4px solid $blue;
  background-color: $white;
}

.butonas2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}


// Page 3

.puslapis3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apacia3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lowbar3 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text3 {
  width: 486px;
  height: 388px;
  // top: 2375px;
  // left: 922px;
  margin: 57px 192px 32px 0;
  // pasitikrin Margin veliau UP
}

.header-text3 span {
  width: 481px;
  height: 388px;
  // top: 2375px;
  // left: 927px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 277px 192px 261px 0;
}

.illustration3 {
  width: 650px;
  height: 477px;
  // top: 2318px;
  // left: 135px;
  margin: 221px 137px 265px 135px;
}

.Rectangle11 {
  width: 56px;
  height: 2px;
  border-radius: 10px;
  background-color: $black; // Added background-color to fix rendering issue
  margin: 26px 617px 31px 0px;
}

.header-text3 p {
  width: 450px;
  height: 120px;
  // top: 2546px;
  // left: 927px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: $gray;
}


.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  border: 1.4px solid $blue;
  margin: 37px 478px 32px 0px;
  background-color: $white;
}

// Page 4


.puslapis4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apacia4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lowbar4 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text4 {
  width: 420px;
  height: 375px;
  // top: 2375px;
  // left: 922px;
  margin: 0px 71px 289px 280px;
  // pasitikrin Margin veliau UP
}

.headeris4 {
  display: flex;
  flex-wrap: wrap;
  width: 481px;
  height: 112px;
  // top: 2375px;
  // left: 927px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
}

.illustration4 {
  position: relative;
  width: 665px;
  height: 434px;
  // top: 2318px;
  // left: 135px;
  margin: 0px 164px 266px 0;
}

.elementas4 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: -245px;
  right: -151.56px;
  height: 114.999px;
  width: 73.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas4 div {
  background: linear-gradient(338.5deg, #97C3F9 -869.19%, #93C1F9 574.86%);
  padding: 5px;
  border-radius: 30px;
}

.Rectangle12 {
  //NEVEIKIA
  width: 56px;
  height: 2px;
  // top: 2513px;
  // left: 927px;
  border-radius: 10px;
  background-color: $black; // Added background-color to fix the issue
  margin: 30px 433px 31px 0px;
}

.header-text4 p {
  width: 450px;
  height: 120px;
  // top: 2546px;
  // left: 927px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: $gray;
}


.button4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  border: 1.4px solid $blue;
  margin: 40px 291px 289px 0px;
  background-color: $white;
}

.vectorius11 {
  position: absolute;
  right: 30px;
  top: 22px;
}

// Page 5

.puslapis5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  
}

.puslapis5-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  position: relative;
  width: 1120px;
  height: 425px;
  border-radius: 24px;
  z-index: 2;
}

.psl5-virsus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  padding-top: 64px;
  
} 

.puslapis5-box div .headeris5 {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0%;
  color: $white;
  z-index: 2;
}

.rect5 {
  width: 56px;
  height: 0;
  border-radius: 5px;
  border-bottom: 2px solid $white;
  margin: 13px;
  padding: 0;

}

.psl5-apacia {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  column-gap: 60px;
  margin-top: 0px;
  
}

.psl5-apacia img+div p {
  color: $white;
  flex-direction: column;
  margin: 0%;
  
}

.psl5-apacia div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  padding-bottom: 60px;
  
}

.psl5-apacia .tekstas5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: $white;
  width: 420px;
  height: 120px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0%;
  opacity: 0.5;
  
}

#founder5 {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 29px;

  padding-bottom: 15px;
}

#founder5 span {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  letter-spacing: 0%;
  color: $white;
  
}

#founder5 p+p {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0%;
  color: $white;
  
}

.puslapis5-nav {
  display: flex;
  flex-direction: row;
  gap: 70px;
  
}

.puslapis5-nav div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 115px;
  width: 100px;
  top: 450px;
  left: 1514px;
  gap: 15px 17px;
  margin: 0;
  
}

.puslapis5-nav div div {
  height: 0px;
  width: 0px;
  background-color: #5B9BF3;
  opacity: 0.3;
  border-radius: 30px;
  padding: 5px;
  margin: 0;
}

.melynas_btn {
  background-color: #5B9BF3;
}

.btn5_2 {
  background-color: $white;
  border: 0;
  rotate: -0%;
  opacity: 0.4;
}

.btn5_2:hover {
  opacity: 1;
  cursor: pointer;
}

.elementas5_1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: -17px;
  right: -50px;
  height: 114.999px;
  width: 131.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas5_1 div {
  background: linear-gradient(338.5deg, #FFFFFF -951.03%, #FFFFFF 493.02%);
  padding: 5px;
  border-radius: 30px;
}

.elementas5_2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 110px;
  left: -50px;
  height: 414.999px;
  width: 131.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas5_2 div {
  background: linear-gradient(338.5deg, #97C3F9 -869.19%, #93C1F9 574.86%);
  padding: 5px;
  border-radius: 30px;
}

// Page 6

.puslapis6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.apacia6 {
  display: flex;
  justify-content: space-around;
  position: relative;
  
}

.lowbar6 {
  display: flex;
  justify-content: space-around;
  
}

.box6-1 {
  margin-left: 240px;
  z-index: 1;
}

.imagebox6-1 {
  width: 369px;
  height: 246px;
  // top: 4593px;
  // left: 240px;
  box-shadow: 10px 40px 50px 0px #E5E9F666;
}


.elementas6 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 270px;
  left: 190px;
  height: 114.999px;
  width: 131.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas6 div {
  background: linear-gradient(338.5deg, #97C3F9 -689.1%, #93C1F9 754.96%);
  padding: 5px;
  border-radius: 30px;
}

.imagebox6-2 {
  width: 409px;
  height: 272px;
  padding-left: 20px;
  // top: 4589px;
  // left: 605px;
  z-index: 1;
  box-shadow: 10px 40px 50px 0px #E5E9F666;

}

.imagebox6-3 {
  width: 367px;
  height: 245px;
  // top: 4591px;
  // left: 995px;
  margin-left: -25px;
  margin-bottom: 24px;
  
}

.box6-1 span {
  display: block;
  width: 251px;
  height: 64px;
  // top: 4860px;
  // left: 273px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin: 21px 66px 12px 33px;
}

.box6-1 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 273px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0px 66px 25px 33px;

}


.box6-2 span {
  display: block;
  width: 265px;
  height: 64px;
  // top: 4860px;
  // left: 657px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin: -5px 52px 12px 53px;
}

.box6-2 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 657px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 51px 25px 53px;
  background-color: $white;
  box-shadow: 10px 40px 50px 0px #E5E9F666;

}

.box6-3 {
  margin-right: 238px;
  z-index: 1;
  
}

.box6-3 span {
  display: block;
  width: 245px;
  height: 64px;
  // top: 4860px;
  // left: 1042px;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  color: $black;
  margin-top: 10px;
  margin-bottom: 12px;
  background-color: $white;
  padding-left: 10px;
  
}

.box6-3 p {
  width: 266px;
  height: 84px;
  // top: 4936px;
  // left: 1042px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin-bottom: 25px;
  padding-left: 10px;
  background-color: $white;
  z-index: 1;
}


.header-text6 {
  width: 462px;
  height: 84px;
  // top: 4433px;
  // left: 569px;
  border-radius: 5px;
  background-color: $white;
  margin: 156px 569px 72px 569px;
}

.header-text6 span {
  width: 462px;
  height: 56px;
  // top: 4433px;
  // left: 569px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  background-color: $white;
  color: $black;
}

.Rectangle18 {
  width: 56px;
  height: 2px;
  // top: 4515px;
  // left: 772px;
  border-radius: 5px;
  color: $black;
  margin-top: 26px;
  margin-left: 200px;
}

.button6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  border: 1.4px solid $blue;
  margin: 104px 700px 201px 700px;
}

.lowbar6 a {
  width: 266px;
  height: 28px;
  // top: 5045px;
  // left: 273px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  margin-left: 33px;

}

.box6-2 a {
  margin: 42px;
  background-color: $white;
  padding-left: 10px;
}

.box6-3 a {
  margin-left: 0;
  background-color: $white;
  padding-left: 10px;
}

.vectorius2 {
  left: 1122px;
  top: 230px;
  position: absolute;
  background-color: linear-gradient(175.68deg, #F3F7FF -10.48%, #DEEEFE 92.66%);

}

//////////// Page 7 /////////////////////////////

footer {
  display: flex;
}

.puslapis7 {
  display: flex;
}

.apacia7 {
  display: flex;
  width: 1600px;
  height: 432px;
  background: #67C3F3;
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

.box7-0 {
  position: relative;
  width: 190px;
  height: 432px;
}

.box7-1 {
  width: 391px;
  height: 201px;
  color: $white;
  padding: 118px 145px 113px 0px;
}

.logo7 {
  position: relative;
}

.LetterT_7 {
  position: absolute;
  margin-top: 12px;
  margin-left: 12px;
}

.eclipse7 {
  margin: 0 12px 17px 0;
}

.trafalgar7 {
  margin: 6px 225px 22px 0;
}

.box7-1 span {
  width: 391px;
  height: 84px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

.box7-1 p {
  width: 391px;
  height: 28px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  margin-top: 31px;
}

.box7-2 {
  width: 391px;
  height: 214px;
  color: $white;
  padding: 85px 0px 109px 0px;
font-weight: 300;
font-size: 18px;
line-height: 38px;
letter-spacing: 0%;

}

.box7-3 {
  width: 391px;
  height: 214px;
  color: $white;
  margin-left: -177px;
  padding: 85px 0px 109px 0px;
font-weight: 300;
font-size: 18px;
line-height: 38px;
letter-spacing: 0%;

}

.box7-4 {
  width: 391px;
  height: 214px;
  color: $white;
  margin-left: -166px;
  padding: 85px 0px 109px 0px;
font-weight: 300;
font-size: 18px;
line-height: 38px;
letter-spacing: 0%;

}

.listas72-1 {
  padding: 0;
}

.listas72-1 li:first-child {
  padding: 0;
  padding-bottom: 20px;
font-weight: 700;
font-size: 20px;
line-height: 60px;
letter-spacing: 0%;

}

.listas73-1 li:first-child {
  padding: 0;
  padding-bottom: 20px;
  font-weight: 700;
font-size: 20px;
line-height: 60px;
letter-spacing: 0%;
}

.listas74-1 li:first-child {
  padding: 0;
  padding-bottom: 20px;
  font-weight: 700;
font-size: 20px;
line-height: 60px;
letter-spacing: 0%;
}

.elementas7_1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 330px;
  right: 70px;
  height: 104.999px;
  width: 121.58px;
  gap: 15.75px 19.82px;
  opacity: 0.26;
}

.elementas7_1 div {
  background: linear-gradient(338.5deg, #FFFFFF -951.03%, #FFFFFF 493.02%);
  padding: 5px;
  border-radius: 30px;
}

.elementas7_2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  bottom: 439px;
  left: 1379px;
  height: 72.5px;
  width: 131.58px;
  gap: 15.75px 19.82px;
  opacity: 0.3;
}

.elementas7_2 div {
  background: linear-gradient(338.5deg, #97C3F9 -787.35%, #93C1F9 656.7%);
  padding: 5px;
  border-radius: 30px;
}



