$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;

}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START

// .boxas6 {
// width: 10vw;
// height: 100vh;
// }

.image6-1 {
// width: 1120px;
// height: 425px;
// top: 3724px;
// left: 242px;
margin: 266px 242px 0 238px;
}

.image6-2 {
// width: 336.4285888671875px;
// height: 20.000001907348633;
// top: 4191px;
// left: 633px;
margin: 42px 630.57px 0 633px;
}












