$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;

}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START


.apacia7 {
display: flex;
width: 1600px;
height: 432px;
// top: 5438px;
border: 1px solid $black;
background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
margin-left: 50px;
margin-top: 50px;
// Margin TOP and LEFT pakeisti
}

.box7-1 {
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
color: $white;
}

.box7-2 {
  display: flex;
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
margin: 0 111px 0 145px;
color: $white;
}

.box7-3 {
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
color: $white;
}







































































