$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;
  
}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START

.virsus1 {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.logo {
  width: 160px;
  height: 41px;
  margin-left: 191px;
  margin-top: 56px;
}

.topnav ul {
  width: 545px;
  margin-top: 70px;
  margin-right: 192px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1F1534;
}

li:first-child {
  font-weight: 700;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul .li-1 {
  width: 51px;
  height: 23px;
}

ul .li-2 {
  width: 110px;
  opacity: 0.5;
}

ul .li-3 {
  width: 44px;
  opacity: 0.5;
}

ul .li-4 {
  width: 104px;
  opacity: 0.5;
}

ul .li-5 {
  width: 76px;
  opacity: 0.5;
}

// Page 1 Top END


// Page 1 Bottom START

.apacia1 {
  display: flex;
  justify-content: space-around;
}

.lowbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.header-text1 {
  width: 445px;
  height: 338px;
  margin-top: 186px;
  margin-left: 190px;
  border-radius: 55px;
}

.illustration1 {
  width: 693px;
  height: 598px;
  margin-top: 80px;
  //4px minus nuo TOP
  margin-right: 163px;
}

.header-text1 h1 {
  //gal Header pakeist i span or p?
  width: 427px;
  height: 112px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  font-family: $main-font;
  margin-bottom: 25px;
}

.header-text1 p {
  width: 445px;
  height: 96px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  font-family: $main-font;
  color: $gray;
  margin-bottom: 48px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border: 0 none transparent;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  font-family: $main-font;
  letter-spacing: 0%;
  background-color: #458FF6;
  color: $white;
}

// Page 2 Top START

// IS BANDYMO
// .tekstas2 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// span {
// width: 212px;
// height: 56px;
// // top: 967px;
// // left: 695px;
// font-family: Mulish, sans-serif;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// }

// p {
// width: 952px;
// height: 60px;
// // top: 1084px;
// // left: 323px;
// font-family: Mulish, sans-serif;
// font-weight: 300;
// font-size: 18px;
// line-height: 30px;
// letter-spacing: 0%;
// text-align: center;
// }

// .virsus2 {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .text2-1 {
//   width: 1600px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 952px;
//   height: 177px;
// }

// .header-text2 span {
//  width: 212px;
// height: 56px;
// font-family: $main-font;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// color: $black;
// text-align: center;
// }

// .header-text2 p {
// width: 952px;
// height: 60px;
// font-family: $main-font;
// font-weight: 300;
// font-size: 18px;
// line-height: 30px;
// letter-spacing: 0%;
// text-align: center;

// }













































