$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;

}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START

.puslapis7 {
  display: flex;
  justify-content: space-around;
}

.apacia7 {
display: flex;
width: 1600px;
height: 432px;
// top: 5438px;
border: 1px solid $black;
background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
margin-left: 50px;
margin-top: 50px;
// Margin TOP and LEFT pakeisti
}

.box7-0 {
  margin: 336px 77.42px 7.12px 0px;
}

.box7-1 {
width: 391px;
height: 201px;
// top: 5556px;
// left: 190px;

color: $white;
margin: 118px 145px 113px 0px;
}

.eclipse7 {
  margin: 0 12px 17px 0;
}

.trafalgar7 {
  margin: 6px 225px 22px 0;
}

.box7-1 span {
  
width: 391px;
height: 84px;
// top: 5614px;
// left: 190px;
font-weight: 300;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
}

.box7-1 p {
  display: block;
width: 391px;
height: 28px;
// top: 5729px;
// left: 190px;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
margin-top: 31px;

}

.box7-2 {
display: block;
width: 391px;
height: 214px;
// top: 5547px;
// left: 726px;
border: 1px solid $black;
color: $white;
margin: 109px 111px 109px 0;
}

.boxlist72-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sekcija7-1 {
  margin-bottom: 2px;
}
.sekcija7-1 {
  margin-bottom: 2px;
  margin-right: 55px;
  //kodel Margin Right neveikia???
}

.box7-3 {
width: 391px;
height: 214px;
border: 1px solid $black;
// top: 5547px;
// left: 1228px;
color: $white;
margin: 109px -19px 109px 0;
}







































































