$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;

}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START


.lowbar6 {
display: flex;
}






.lowbar6 a {
  color: $blue;
}

.button6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  border: 1.4px solid $blue;
}

// .lowbar6 {
// width: 1785.11474609375px;
// height: 810.0001831054688px;
// // top: 4427px;
// // left: 191px;
// }

// .headeris6 {
//   width: 462px;
// height: 56px;
// // top: 4433px;
// // left: 569px;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// margin: 227px 569px 0 569px;
// }

// .Rectangle18 {
// width: 56px;
// height: 2px;
// // top: 4515px;
// // left: 772px;
// border-radius: 5px;
// color: $black;
// margin: 26px 772px 72px 772px;
// }

















































