$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$xxs: 480px;
$xxxs: 320px;

$blue: #458FF6;
$gray: #7D7987;
$black: #000000;
$white: #FFFFFF;


$main-font: "Mulish", sans-serif;

// Bendriniai

* {
  box-sizing: border-box;
  
}

// Reset

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $main-font;
}

p {
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// (reset END)

// Page 1 Top START

.virsus1 {
  display: flex;
  justify-content: space-around;
}

.navbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.logo {
  width: 160px;
  height: 41px;
  margin-left: 191px;
  margin-top: 56px;
}

.topnav ul {
  width: 545px;
  margin-top: 70px;
  margin-right: 192px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1F1534;
}

li:first-child {
  font-weight: 700;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul .li-1 {
  width: 51px;
  height: 23px;
}

ul .li-2 {
  width: 110px;
  opacity: 0.5;
}

ul .li-3 {
  width: 44px;
  opacity: 0.5;
}

ul .li-4 {
  width: 104px;
  opacity: 0.5;
}

ul .li-5 {
  width: 76px;
  opacity: 0.5;
}

// Page 1 Bottom START

.apacia1 {
  display: flex;
  justify-content: space-around;
}

.lowbar {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.element1 {
  margin: 63px 108.42px 0 0;
  position: absolute;
}

.header-text1 {
  width: 445px;
  height: 338px;
  margin-top: 186px;
  margin-left: 190px;
  border-radius: 55px;
}

.illustration1 {
  width: 693px;
  height: 598px;
  margin-top: 80px;
  //4px minus nuo TOP
  margin-right: 163px;
}

.header-text1 h1 {
  //gal Header pakeist i span or p?
  width: 427px;
  height: 112px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  font-family: $main-font;
  margin-bottom: 25px;
}

.header-text1 p {
  width: 445px;
  height: 96px;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
  font-family: $main-font;
  color: $gray;
  margin-bottom: 48px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  border: 0 none transparent;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  font-family: $main-font;
  letter-spacing: 0%;
  background-color: #458FF6;
  color: $white;
}

// Page 2 Top START

// IS BANDYMO
// .tekstas2 {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// span {
// width: 212px;
// height: 56px;
// // top: 967px;
// // left: 695px;
// font-family: Mulish, sans-serif;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// }

// p {
// width: 952px;
// height: 60px;
// // top: 1084px;
// // left: 323px;
// font-family: Mulish, sans-serif;
// font-weight: 300;
// font-size: 18px;
// line-height: 30px;
// letter-spacing: 0%;
// text-align: center;
// }

// .virsus2 {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .text2-1 {
//   width: 1600px;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   width: 952px;
//   height: 177px;
// }

// .header-text2 span {
//  width: 212px;
// height: 56px;
// font-family: $main-font;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// color: $black;
// text-align: center;
// }

// .header-text2 p {
// width: 952px;
// height: 60px;
// font-family: $main-font;
// font-weight: 300;
// font-size: 18px;
// line-height: 30px;
// letter-spacing: 0%;
// text-align: center;
// }

// Page 2

.puslapis2 {
  margin-top: 192px;
}

.virsus2-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 192px 325px 80px 323px;
}

.headeris2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 212px;
  height: 56px;
  // top: 967px;
  // left: 695px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  color: $black;
}

.Rectangle2 {
  width: 56px;
  height: 2px;
  // top: 1049px;
  // left: 772px;
  border-radius: 5px;
  margin: 26px 0 33px 0;
}

.virsus2-1 p {
  width: 952px;
  height: 60px;
  // top: 1084px;
  // left: 323px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: $gray;
}

.apacia2 {
  display: flex;
  justify-content: space-around;
}

.apacia2-1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1140px;
  height: 765px;
  // top: 1224px;
  // left: 240px;
}

.box2-1 {
  width: 350px;
  height: 354px;
  margin: 0 34px 37px 0;
}

.box2-2 {
  width: 350px;
  height: 354px;
  margin: 0 36px 37px 0;
  //   top: 1224px;
  // left: 240px;
}

.box2-3 {
  width: 350px;
  height: 354px;
  margin-bottom: 37px;
}

.box2-4 {
  width: 350px;
  height: 354px;
  margin-right: 34px;
}

.box2-5 {
  width: 350px;
  height: 354px;
  margin-right: 36px;
}

.box2-6 {
  width: 350px;
  height: 354px;
}

.frame2-1 {
  width: 91.98px;
  height: 90.01px;
  margin: 54px 221.02px 22.4px 37px;
}

.frame2-2 {
  width: 61.86px;
  height: 85px;
  margin: 62px 251.14px 19.41px 37px;
}

.frame2-3 {
  width: 67.3px;
  height: 95.01px;
  margin: 47px 244.7px 24.4px 38px;
}

.frame2-4 {
  width: 67.08px;
  height: 95px;
  margin: 46px 243.29px 25.4px 39.64px;
}

.frame2-5 {
  width: 80px;
  height: 71.15px;
  margin: 59px 230px 36.25px 40px;
}

.frame2-6 {
  width: 69.42px;
  height: 95px;
  margin: 52px 242.58px 19.39px 38px;
}

.box2-1 span {
  display: flex;
  width: 160px;
  height: 56px;
  // top: 1390.41px;
  // left: 279px;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
  margin: 0px 191px 1px 39px;
}

.box2-1 p {
  width: 266px;
  height: 84px;
  // top: 1447.41px;
  // left: 279px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: $gray;
  margin: 0 45px 46.59px 39px;
}

.box2-2 span {
width: 196px;
height: 56px;
// top: 1390.41px;
// left: 660.36px;
font-weight: 700;
font-size: 24px;
line-height: 56px;
letter-spacing: 0%;
color: $black;
margin: 0 117.64px 0.59px 36.76px;
}

.box2-2 p {
width: 261px;
height: 84px;
// top: 1447px;
// left: 661px;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: $gray;
margin: 0 52px 47px 37px;
}

.box2-3 span {
width: 146px;
height: 56px;
// top: 1390.41px;
// left: 1048.36px;
font-weight: 700;
font-size: 24px;
line-height: 56px;
letter-spacing: 0%;
color: $black;
margin: 0px 165.64px 0.59px 38.36px;
}

.box2-3 p {
width: 261px;
height: 84px;
// top: 1447px;
// left: 1049px;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: $gray;
margin: 0 50px 47px 39px;
}

.box2-4 span {
width: 130px;
height: 56px;
// top: 1781.41px;
// left: 278px;
font-weight: 700;
font-size: 24px;
line-height: 56px;
letter-spacing: 0%;
color: $black;
margin: 0 182px 0.59px 38px;
}

.box2-4 p {
width: 261px;
height: 84px;
// top: 1838px;
// left: 278.64px;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: $gray;
margin: 0 50.36px  47px 38.64px;
}

.box2-5 span {
width: 182px;
height: 56px;
// top: 1781.41px;
// left: 662px;
font-weight: 700;
font-size: 24px;
line-height: 56px;
letter-spacing: 0%;
color: $black;
margin: 0 130px  1px 38px;
}

.box2-5 p {
width: 266px;
height: 84px;
// top: 1838.41px;
// left: 663px;;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: $gray;
margin: 0 45px 46.59px 39px;
}

.box2-6 span {
width: 98px;
height: 56px;
// top: 1781.41px;
// left: 1048.36px;
font-weight: 700;
font-size: 24px;
line-height: 56px;
letter-spacing: 0%;
color: $black;
margin: 0 213.64px 0.59px 38.36px;
}

.box2-6 p {
width: 261px;
height: 56px;
// top: 1838px;
// left: 1049px;
font-weight: 300;
font-size: 16px;
line-height: 28px;
letter-spacing: 0%;
color: $gray;
margin: 0 50px 75px 39px;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  border: 1.4px solid $blue;
  background-color: $white;
  margin: 37px 478px 32px 137px;
}

// Page 3


.puslapis3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apacia3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lowbar3 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text3 {
  width: 486px;
  height: 388px;
  // top: 2375px;
  // left: 922px;
  margin: 57px 192px 32px 137px;
  // pasitikrin Margin veliau UP
}

.header-text3 span {
  width: 481px;
  height: 112px;
  // top: 2375px;
  // left: 927px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
}

.illustration3 {
  width: 650px;
  height: 477px;
  // top: 2318px;
  // left: 135px;
  margin: 220px 142px 265px 135px;
  // pasitikrin Margin veliau UP
}

.Rectangle11 {
  //NEVEIKIA
  width: 56px;
  height: 2px;
  // top: 2513px;
  // left: 927px;
  border-radius: 10px;
  color: $black;
  margin: 26px 617px 31px 327px;
}

.header-text3 p {
  width: 450px;
  height: 120px;
  // top: 2546px;
  // left: 927px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: $gray;
}


.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  border: 1.4px solid $blue;
  margin: 37px 478px 32px 137px;
}

// Page 4


.puslapis4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.apacia4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lowbar4 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text4 {
  width: 486px;
  height: 388px;
  // top: 2375px;
  // left: 922px;
  margin: 57px 192px 32px 137px;
  // pasitikrin Margin veliau UP
}

.header-text4 span {
  width: 481px;
  height: 112px;
  // top: 2375px;
  // left: 927px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  letter-spacing: 0%;
  color: $black;
}

.illustration4 {
  width: 650px;
  height: 477px;
  // top: 2318px;
  // left: 135px;
  margin: 220px 142px 265px 135px;
  // pasitikrin Margin veliau UP
}

.Rectangle12 {
  //NEVEIKIA
  width: 56px;
  height: 2px;
  // top: 2513px;
  // left: 927px;
  border-radius: 10px;
  color: $black;
  margin: 26px 617px 31px 327px;
}

.header-text4 p {
  width: 450px;
  height: 120px;
  // top: 2546px;
  // left: 927px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;
  color: $gray;
}


.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  // top: 2703px;
  // left: 922px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  border: 1.4px solid $blue;
  margin: 37px 478px 32px 137px;
}

// Page 5

.puslapis5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boxas5 {
display: flex;
justify-content: space-around;
align-items: center;
}

.lowbar5 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image5-1 {
// width: 1120px;
// height: 425px;
// top: 3724px;
// left: 242px;
margin: 266px 242px 0 238px;
}

.image5-2 {
// width: 336.4285888671875px;
// height: 20.000001907348633;
// top: 4191px;
// left: 633px;
margin: 42px 630.57px 0 633px;
}

// Page 6


.puslapis6 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 223.43px;
}

.apacia6 {
display: flex;
justify-content: space-around;
align-items: center;
}

.lowbar6 {
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.lowbar6 a {
  color: $blue;
}

.button6 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  border: 0 none transparent;
  font-family: $main-font;
  border-radius: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  letter-spacing: 0%;
  color: $blue;
  background-color: $white;
  border: 1.4px solid $blue;
}

// .lowbar6 {
// width: 1785.11474609375px;
// height: 810.0001831054688px;
// // top: 4427px;
// // left: 191px;
// }

// .headeris6 {
//   width: 462px;
// height: 56px;
// // top: 4433px;
// // left: 569px;
// font-weight: 700;
// font-size: 36px;
// line-height: 56px;
// letter-spacing: 0%;
// margin: 227px 569px 0 569px;
// }

// .Rectangle18 {
// width: 56px;
// height: 2px;
// // top: 4515px;
// // left: 772px;
// border-radius: 5px;
// color: $black;
// margin: 26px 772px 72px 772px;
// }

// Page 7


.puslapis7 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 223.43px;
}

.apacia7 {
display: flex;
width: 1600px;
height: 432px;
// top: 5438px;
border: 1px solid $black;
background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
margin-left: 50px;
margin-top: 50px;
// Margin TOP and LEFT pakeisti
}

.box7-1 {
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
color: $white;
}

.box7-2 {
  display: flex;
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
margin: 0 111px 0 145px;
color: $white;
}

.box7-3 {
width: 391px;
height: 201px;
border: 1px solid $black;
// top: 5556px;
// left: 190px;
color: $white;
}

































