* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.pvm {
    width: 90%; 
    display: flex;
    justify-content: center;      
    .container {
        width: 85%;        
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        span {
            text-align: center;
            margin-bottom: 30px;
        }
        p {
            margin: 5px 0;
        }
        .apmoketi {
            font-weight: 600;
        }
        .rekvizitai {
            margin-top: 60px;
            width: 90%;
            display: flex;
            h3 {
                font-weight: 600;
                margin-bottom: 20px;
            }
            div {
                margin: 5px 0;
            }
            .atributes {
                font-weight: 600;
                margin-right: 2%;
            }
            .seller {
                padding-right: 10%;
                h3 {
                    visibility: hidden;
                }
            }
            .buyer {
                h3 {
                    visibility: hidden;
                }
            }
        }
        .saskaita {
            width: 100%;
            margin: 70px 0;            
            table {
                width: 100%;
                margin-bottom: 50px;  
                border-spacing: 0;   
                tr {                                   
                    td {                                               
                        border-bottom: 1px solid #0000002d;
                        padding: 4px;
                    }
                    .right {
                        text-align: end;
                    }
                }
                .first {
                    background-color: #6d336d41;
                    td {
                        border: 0;
                        font-weight: 600;
                    }                    
                }
            }
            .total {
                display: flex;
                justify-content: space-between;
                .buha {
                    display: flex;
                    justify-content: end;
                    align-items: end;
                    .sas {
                        font-weight: 600;
                    }
                    .bu {
                        margin-left: 50px;
                        border-bottom: 1px solid black;
                        padding: 0 20px;
                    }
                }
                .sums {
                    div {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        .text {
                            width: 160px;
                            margin: 14px 10px 0 10px;
                            display: flex;
                            justify-content: start;
                        }
                        .galutine {
                            font-weight: 600;
                        }
                        .data {
                            width: 80px;
                            text-align: end;
                            margin-top: 14px;
                        }
                        .viso {
                            font-weight: 600;
                        }
                    }    
                }                
            }
        }
    }
}
.bebras {
    width: 20%;
    position: absolute;
    right: 100px;
    top: 50px;    
    z-index: -1;
    img {
        object-fit: scale-down;
        width: 180px;       
    }
}
.thanks{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}